img{
    width: 360px;
    height: 360px;
    margin-top: 30px;
    margin-left: 100px;
}
.btn{
    font-weight: 700;
    border-radius: 100px;
    text-transform: uppercase;
    
  }
  
  
  
  .btn-primary{
    background-color:white;
    border-color:white;
  }
  
  
  
  
  .btn-primary:hover{
    background-color: white;
    border-color:white;
    border-width: 5px;
    cursor: wait;
  }
  
  
  
  /* padding is used to make the size of button increase */
  
  .btn-xl{
    padding: 1rem 2rem;
  
  }
  .new{
    text-align: right;
    
  }
  .about-1{
    margin-top: 50px;
    margin-left: 80px;
    text-align: right;
    

  }
  .about-2{
    margin-top: 200px;
   
  }
  .about-3{
    color: blue;
  }
  .about-4{
    font-size:60px;
  }
  
  